@import "tailwindcss";

@theme {
  --color-primary: #E3000F;
  --color-primary-dark: #b3000a;
  --color-secondary: #00205B;
  --color-secondary-dark: #001236;
  --color-bg-light: #F8FAFC;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-800 antialiased font-sans;
  }
}
